   .color-square {
        width: 20px;
        height: 20px;
        display: inline-block;
       
    }

    .rojo {
        background-color: red   }
    .negro {
        background-color: black     }
    .azul {
        background-color: blue     }
    .amarillo {
        background-color: yellow     }
    .verde {
        background-color: green     }
